<section class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__heading">
        <h2>Manzil</h2>
      </div>
      <p class="mb-0">Copyright  © 2021 Manzil | All rights reserved.</p>

      <ul class="social__media">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</section>