
<section class="top pt-5">
 <a routerLink='/home'>  <span class=" txt">Manzil</span></a> 
</section>
<p class="p-0 m-0 sticky-top">
    <mat-toolbar class="toolbar">
    
          <span class="mx-auto">
               
                  <input type="text"
                         placeholder="Search"
                         matInput
                         [formControl]="myControl"
                         [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)='routo($event.option.value)'>
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                    >
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                  
        </span>
    </mat-toolbar>
  </p>