/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.wa-chat-box-poweredby{
    display: none;
  }
  .wa-chat-box-header{
    min-height: 60px !important;
    max-height: 60px !important;
  }
  .wa-chat-box-brand{
    width: 40px !important; 
    height: 40px !important;
  }