
   <div class="container-fluid">
   
       <div class="tide">
           <div class="nav">
       <!-- <ul>
           <li><a href="#">Home</a></li>            <li><a href="#">Editorials</a></li>
           <li><a href="#">Stories</a></li>
           <li><a href="#">Videos</a></li>
           <li><a href="#">Blog</a></li>
           <li><a href="#">About</a></li>
  
           
           
       </ul> -->
           
   </div>
       
                       <h1>M A N Z I L</h1>
                       <a class="btn-sub" href="#">Purdhas</a><br><br>
                       <h3>Mananthavady, Kerala 670645</h3>
                       <h3>+91 7902792405</h3>

       </div>
   </div>
<div class="row  m-4">
    <div class="col-6 col-lg-4 p-3" *ngFor='let in of counter(54) ;let i = index'>
      <div class="card" (click)="open(i)">
        <img [src]="asset + (i+1)+jpeg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Manzil </b></h4> 
          <p>Pardhas</p> 
        </div>
      </div>
    </div>
  </div>
  