
   

   <div class="section">
  
       <div class="tide">
           <div class="nav">
       <!-- <ul>
           <li><a href="#">Home</a></li>            <li><a href="#">Editorials</a></li>
           <li><a href="#">Stories</a></li>
           <li><a href="#">Videos</a></li>
           <li><a href="#">Blog</a></li>
           <li><a href="#">About</a></li>
  
           
           
       </ul> -->
           
   </div>
       
   <a routerLink='/home' ><h1>M A N Z I L</h1></a><br><br>
                       <b class="btn-sub" >Purdhas</b><br><br>
                       <h3>Mananthavady, Kerala 670645</h3>
                       <h3>+91 7902792405</h3>

       </div>
   </div>

  <div class="container my-4"  (click)="goto('phardha')">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/phardha1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/phardha2.jpg" class="d-block w-100" alt="passion">
        </div>
        <div class="carousel-item">
          <img src="./assets/phardha3.jpg" class="d-block w-100" alt="[assion]">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="container my-4">
    <div id="carouselchuridhar" class="carousel slide" data-ride="carousel" (click)="goto('churidhar')">
      <ol class="carousel-indicators">
        <li data-target="#carouselchuridhar" data-slide-to="0" class="active"></li>
        <li data-target="#carouselchuridhar" data-slide-to="1"></li>
        <li data-target="#carouselchuridhar" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/10.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/11.jpeg" class="d-block w-100" alt="passion">
        </div>
        <div class="carousel-item">
          <img src="../../assets/15.jpeg" class="d-block w-100" alt="[assion]">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselchuridhar" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselchuridhar" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="container my-4">
    <div id="carouselshall" class="carousel slide" data-ride="carousel" (click)="goto('shall')">
      <ol class="carousel-indicators">
        <li data-target="#carouselshall" data-slide-to="0" class="active"></li>
        <li data-target="#carouselshall" data-slide-to="1"></li>
        <li data-target="#carouselshall" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active"  >
          <img src="../../assets/42.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/43.jpeg" class="d-block w-100" alt="passion">
        </div>
        <div class="carousel-item">
          <img src="../../assets/44.jpeg" class="d-block w-100" alt="[assion]">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselshall" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselshall" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>